.marquee--container {
  position: relative;
  height: 205px;
  overflow: hidden;
  margin: 5px;
}

.marquee--inner {
  position: absolute;
  display: block;
  width: 200%;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
